/build
/src/main/java/com/lanyuan/picking/pattern/anime
/src/main/java/com/lanyuan/picking/pattern/girls
/src/main/java/com/lanyuan/picking/pattern/others
/src/main/java/com/lanyuan/picking/pattern/sex