<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanyuan.picking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_apaya"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppNoActionBarTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.ContentsActivity"
            android:theme="@style/NotitleFullScreen" />
        <activity
            android:name=".common.DetailActivity"
            android:theme="@style/NotitleFullScreen" />
        <activity
            android:name=".setting.SettingActivity"
            android:theme="@style/AppNoActionBarTheme" />
        <activity android:name=".AboutActivity" />
    </application>

</manifest>